@import 'partials/variables';
@import 'partials/headers';

header{
    background-image: url(https://c4.wallpaperflare.com/wallpaper/651/635/634/the-sun-mountains-music-stars-wallpaper-preview.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}